@import url("https://fonts.googleapis.com/css?family=Anton|Courgette|Dancing+Script|Rokkitt&display=swap");

.header-color {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
}

.avatar-img {
  height: 200px;
  padding-top: 3em;
}

.banner-text {
  margin: auto;
  width: 75%;
}

.banner-text h1 {
  font-size: 60px;
  color: aquamarine;
  font-family: "Rokkitt", serif;
  font-weight: bold;
}

.banner-text hr {
  border-top: 5px dotted aquamarine;
  width: 50%;
  margin: auto;
}

.banner-text h4 {
  color: aquamarine;
  font-size: 30px;
  padding: 0em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.social-links i {
  color: aquamarine;
  font-size: 5em;
  padding: 2px;
}

#about-section {
  padding: 5em;
  margin: auto;
}

#about-section img {
  padding-right: 5em;
  width: 30%;
  float: left;
}

#about-section h2 {
  text-align: center;
}

#about-section p {
  text-align: center;
}

#motto-section {
  padding: 5em;
  margin: auto;
}

#motto-section img {
  padding-left: 5em;
  width: 30%;
  float: right;
}

#motto-section h2 {
  text-align: center;
}

#motto-section p {
  text-align: left;
}
